/**** Theme ****/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 87%);
    --clr-neutral-300: hsl(0, 0%, 57%);
    --clr-neutral-400: hsl(0, 0%, 27%);
    --clr-neutral-500: hsl(0, 0%, 25%);
    --clr-neutral-600: hsl(0, 0%, 22%);
    --clr-neutral-700: hsl(0, 0%, 20%);
    --clr-neutral-800: hsl(0, 0%, 17%);

    --clr-neutral-900: hsl(0, 0%, 12%);

    --clr-lilac-100: hsl(300, 54%, 97%);
    --clr-brown-400: hsl(20, 21%, 28%);
    --clr-brown-800: hsl(23, 32%, 23%);

    --clr-red-400: hsl(346, 54%, 47%);
    --clr-red-800: hsl(354, 55%, 32%);

    --clr-green-100: hsl(169, 11%, 93%);
    --clr-green-200: hsl(169, 51%, 58%);
    --clr-green-400: hsl(169, 86%, 28%);
    --clr-green-800: hsl(169, 86%, 12%);
    --clr-green-900: hsl(169, 80%, 12%);

    --clr-robust: hsl(221, 63%, 32%);
    --clr-green: hsl(110, 63%, 32%);
    --clr-flower: hsl(2, 92%, 33%);
    --clr-colorful: hsl(303, 55%, 47%);
    --clr-sunloving: hsl(27, 88%, 33%);
    --clr-air: hsl(180, 84%, 27%);
    --clr-decorative: hsl(278, 79%, 40%);
    --clr-edible: hsl(68, 61%, 30%);
    --clr-easy: hsl(224, 86%, 58%);
    --clr-fragrant: hsl(327, 51%, 47%);
    --clr-fast: hsl(218, 11%, 34%);

    --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    --fs-100: 0.625rem;
    --fs-200: 0.75rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;

    --clr-accent: var(--clr-green-400);
    --clr-accent-light-1: var(--clr-green-100);

    --clr-primary-light-1: var(--clr-neutral-100);
    --clr-primary-light-2: var(--clr-neutral-200);
    --clr-primary-light-3: var(--clr-neutral-300);
    --clr-primary: var(--clr-neutral-400);
    --clr-primary-dark: var(--clr-neutral-800);

    --fw-regular: var(--fw-400);
    --fw-medium: var(--fw-500);
    --fw-semi-bold: var(--fw-600);
    --fw-bold: var(--fw-700);
    --fw-x-bold: var(--fw-900);

    --spacing-xl: 4rem;
    --spacing-lg: 2rem;
    --spacing-md: 1rem;
    --spacing-sm: .5rem;
    --spacing-xs: .25rem;

    --content-max-width: 900px;
    --breakout-max-width: 1200px;
}



/**** Global/base ****/
body {
    font-family: var(--font-base);
    background-color: var(--clr-accent-light-1);
    color: var(--clr-primary-dark);
}

h2,
h3 {
    font-weight: var(--fw-bold);
    line-height: 1;
}

h2 {
    font-size: var(--fs-700);
}

h3 {
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
}

a {
    color: var(--clr-accent);
    text-decoration: none;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
    }
}


/**** || Composition ****/

/* breakout */
/* see https://www.youtube.com/watch?v=c13gpBrnGEw */
.content-grid {
    --padding-inline: var(--spacing-md);
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
            var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.breakout, .full-width),
.full-width> :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid>.breakout {
    grid-column: breakout;
}

.content-grid>.full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}


/* flow classes for spacing */
.flow>*+* {
    margin-block-start: var(--flow-space, 1em);
}

/* flex flow style for things like badges */
.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--cluster-gap, var(--spacing-xs));
    align-content: var(--cluster-align, flex-start);
    justify-content: var(--cluster-justify, flex-start);
}

/* just center whatever content */
.center-content {
    text-align: center;

    >* {
        margin-inline: auto;
    }
}


/**** || Utilities ****/

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.uppercase {
    text-transform: uppercase;
}

.break-word span {
    display: table;
}



/**** || Blocks ****/
/* Badges */
.badge {
    --_clr-badge: var(--clr-accent);

    display: block;
    color: var(--clr-primary-light-1);
    background-color: var(--_clr-badge);
    padding: 0.5em 1em;
    border-radius: 100vw;
    text-transform: uppercase;
    font-size: var(--fs-100);
    font-weight: var(--fw-bold);

    &[data-variant="robust"] {
        --_clr-badge: var(--clr-robust);
    }

    &[data-variant="green"] {
        --_clr-badge: var(--clr-green);
    }

    &[data-variant="flower"] {
        --_clr-badge: var(--clr-flower);
    }

    &[data-variant="colorful"] {
        --_clr-badge: var(--clr-colorful);
    }

    &[data-variant="sunloving"] {
        --_clr-badge: var(--clr-sunloving);
    }

    &[data-variant="air"] {
        --_clr-badge: var(--clr-air);
    }

    &[data-variant="decorative"] {
        --_clr-badge: var(--clr-decorative);
    }

    &[data-variant="edible"] {
        --_clr-badge: var(--clr-edible);
    }

    &[data-variant="easy"] {
        --_clr-badge: var(--clr-easy);
    }

    &[data-variant="fragrant"] {
        --_clr-badge: var(--clr-fragrant);
    }

    &[data-variant="fast"] {
        --_clr-badge: var(--clr-fast);
    }
}